{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>{{blog}}</h2>
<h4>{{blog.body}}</h4> <br>
{{blog.created_at}}
<a href="{% url 'index' %}">돌아가기</a>

<form method='post' action="{% url 'create_comment' blog.id%}">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit">
</form>

<br>
<hr>
{% for i in blog.comment_set.all %}
<!-- 역참조( related_name을 원래는 정해주는게 옳지만, 이런 방식도 많이 사용된다.) -->

<p>{{i}} {{i.author}} <a href="{% url 'delete_comment' i.id blog.id%}">❌ </a></p>
<form method='POST' action="{% url 'create_recomment' blog.id%}">
    {% csrf_token%}
    =========form========= <br>

    <!-- widget에 맞게 커스텀 할 것  -->
    {% for recom_form in recomment_form %}

    {% if recom_form.label != 'Comment' %}

    {{recom_form.label}}:{{recom_form}}

    {% endif %}
    {% endfor %}
    <input type="hidden" name='comment' value={{i.id}}>
    <input type="submit"><br>
    =========form=========
</form>
{% for recom in i.recomment_set.all%}
↪{{recom}} || {{recom.created_at.}}
<br>
{% endfor %}
<hr>
{% endfor %}
<input title="Your Email Address" type="text" name="name" value="Your Name" class="form-control" />

{% endblock %}