{% extends 'base.html' %}
{% block content %}
<h2>{{blog}}</h2>
<h4>{{blog.body}}</h4> <br>
{{blog.created_at}}
<a href="{% url 'index' %}">돌아가기</a>

<form method='post' action="{% url 'create_comment' blog.id%}">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit">
</form>

<br>
<hr>
{% for i in blog.comment_set.all %}
<p>{{i}} <a href="{% url 'delete_comment' i.id blog.id%}">❌ </a></p>
<form method='POST' action="{% url 'create_recomment' blog.id%}">
    {% csrf_token%}
    {% for recom_form in recomment_form %}
    {% if recom_form.label != 'Comment' %}
    {{recom_form.label}}:{{recom_form}}
    {% endif %}
    {% endfor %}
    <input type="hidden" name='comment' value={{i.id}}>
    <input type="submit">
</form>
{% for recom in i.recomment_set.all%}
↪{{recom}}
<br>
{% endfor %}
<hr>
{% endfor %}

{% endblock %}