<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <main>
        <div class="tab">
            <br>
            <span class="tabindex active" onclick='openTab(event,"tab1")'>Franchise</span>
            <span class="tabindex" onclick='openTab(event,"tab2")'>Insta</span>
            <span class="tabindex" onclick='openTab(event,"tab3")'>Personal</span>
        </div>
        <div class="index_right">
            <div class="tabcontents" id='tab1' style='display: block;'>
                <p> 1
                </p>

            </div>
            <div class="tabcontents" id='tab2' style='display: none;'>
                <p> 2</p>
            </div>
            <div class="tabcontents" id='tab3' style='display: none;'>
                <p> 3</p>
            </div>
            <div id="map" style="width:500px;height:400px;"></div>
        </div>

        <script src="/static/js/index.js"></script>

        <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=169db392f99cab35a32be38d1719c712"></script>

        <script>
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);
        </script>
    </main>
</body>

</html>