<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for blog in blogs.all %}
    <h1>{{blog.title}}</h1>
    <p>
        {#<!-- {{blog.summary}} <a href="detail/{blog.id}">...more</a> -->#}
        {{blog.summary}} <a href="{% url 'detail' blog.id%}">...more</a>
        {#<!-- <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}">....more</a></p> -->#}
    </p>
    <!-- {{blog.summary}} -->
    <hr>

    {% endfor %}

</body>

</html>