<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'update' one_post.id %}">
        <h5>글 수정</h5>
    </a>
    <a href="{% url 'delete' one_post.id %}">
        <h5>글 삭제</h5>
    </a>

    <h1> 제목 : {{ one_post.title}} </h1>

    <h2> 내용 : {{ one_post.body }} </h2>
    <a href="{% url 'index' %}">Main Page</a>

</body>

</html>