<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    title
    <h5>글 List</h5>

    {% for one_post in all_post %}

    [{{one_post.id}}] <a href="{% url 'detail' one_post.id%}"> {{one_post.title}} </a> / {{one_post.nickname}} <br>


    {% endfor %}
    <a href="{% url 'create_page' %}">글쓰기</a>
</body>

</html>